img{
    width: 70%;
    height: auto;
}
.images{
  width:40%;
}
.all{
display: flex;
justify-content: space-evenly;
margin-top: 150px;
height: auto;
margin-bottom: 60px;
}
.contain{
    max-width: 60%;
    height: auto;
}
.category{
    color: rgb(76, 76, 179);
    text-transform:uppercase;
}
.lbl{
    color: #1d2025;
    font-size: 39.64px;
}
.des{
    color: #68707d ;
    font-size: 21px;
}
.count , .add_cart {
    background-color: #ececec;
    border-radius:30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: none;
    height: auto;
}
.count{
  width: 150px;
  display: flex;
  justify-content: space-evenly;
}
.count button {
    border: none;
    background-color: #ececec;
    /* background-color: #007bff; */
    border-radius: 30px;
    /* padding: 0.7rem 1.2rem; */
    font-family: inherit;
    cursor: pointer;    
    
  }
  .dec ,.inc{
    font-size: 28px;
    font-weight: bolder;

  }
  .discount{
    background-color:rgb(216, 216, 237);
    color: rgb(76, 76, 179);
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    font-weight: bolder;
  }
  .cn_cart{
display: flex;
justify-content: space-between;
margin: auto;
  }
  .add_cart{
    background-color:rgb(76, 76, 179);
    width: 200px;
display: flex;
justify-content: space-evenly;
color: #ececec;
cursor: pointer;    

  }
.prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
}
 .prices >div{
    display: flex;
justify-content: space-evenly;
      align-items: center;
 }
 .prices >div p{
    margin-right: 20px;
 }
 .price{
  font-size: 24px;
}
.prii{
  color: rgb(134, 1, 141);
}
.afterdiscount{
    text-decoration: line-through;
      color: #999;
      font-size: 24px;
      margin: 1rem 2rem;
    }

      .decreament , .increament{
        color:rgb(76, 76, 179);
        font-size: 22px ; 
        font-weight: 1000;
          }
          .numbers {
            font-size: 20px;
          }
          
          i, .add_cart p{
            font-size: 20px;
          }







          /* ------ *//* Reset default styles */
.slide{
  margin-bottom: 20PX;
}
.top_slide{
  position: relative;
  margin-bottom: 40px;
  margin-top: 100px;
  padding: 0px 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-left: 10px;
}
.top_slide::after{
  position: absolute;
  content: '';
  bottom: -1px;
  left: 0;
  width: 120px;
  height: 2px;
  padding-left: 20px;
  background-color:rgb(76, 76, 179);
}
.top_slide h2{
  text-transform: capitalize;
}
.top_slide span{
  font-weight: normal;
}
.product{
  background-color: white;
  position: relative;
  padding: 20px 30px;
text-align: center;
overflow: hidden;
box-shadow: 5px 5px 10px gray;
border: 1px solid rgb(211, 211, 211);
border-radius: 10px;
/* width: 12% ; */
transition: transform 0.3s ease-in-out;

height: auto;
margin-left: 20px;
}
.product img{
  width: 90%;
  height: 90%;
  transition: 0.3s ease-in-out;
  margin-top: 9px;
}
.product h3{
  font-size: 17px;
}
.product h3 a{
  text-decoration: none;
color: #1d2025;
}
.Stars i{
color: rgb(252, 213, 113);
}

.price
{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}
.price p{
  font-weight: bold;
}
.price  .oldPrice{
  color: gray;
  text-decoration: line-through;
  font-weight: normal;
}

.sale_discount{
  position: absolute;
  top:6px;
  right: 5px;
  z-index: 2;
  background-color:rgb(114, 114, 174);
padding: 3px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 15px;
  opacity: 0.7;

}
.product .iconns{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: -100px;
  top:40%;
  transform: translateY(-50%);
  z-index: 3;
}
.product .iconns i{
width: 30px;
height: 30px;
line-height: 30px;
background-color: white;
border-radius: 50%;
text-align: center;
align-items: center;
cursor: pointer;
}
.product .iconns i:hover{
  background-color: rgb(76, 76, 179);
}

.product:hover .iconns{
  right: 10px;
}

.s:hover{
  color: rgb(107, 107, 186);

}
.products{
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.product h3 a{
  font-size: 20px;
}

.shop-now {
  padding: 10px 20px;
  background-color: #717fe0;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
