/* Basic Reset */
* {
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==================LOGIN=====================*/
@keyframes zoomIn {
    0% {
        opacity: 0; 
        transform: scale(0.8); 
    }
    100% {
        opacity: 1; 
        transform: scale(1); 
    }
}

#login_page {
    display: flex;
    gap: 100px;
    
}
#login_page{
    width: 100%; 
    height: auto; 
    animation: zoomIn 2s ease-out; 
    
}
#login_header {
    margin: 80px 0;
    border-radius: 20px;
    height: 600px;
    width: 500px;
    padding: 40px;
    text-align: center;
    background-color: #f0ece4;
    box-shadow: 5px 5px 15px gray ;

}

#login_word {
    color: #5b69c3;
}

#img_icon {
    height: 150px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#form_sumbit {
    width: 60%;
    padding: 10px;
    margin-block-start: 30px;
    background-color: #5b69c3;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#form_sumbit:hover{
    background-color:#719fe0;
    color: #ffff;
}


/*=====================slider=====================*/
.banner {
    display: flex;
    align-items: center;
    background-color: #f0ece4;
    padding: 150px 150px 110px;
    gap: 100px;
}
.banner-content {
    max-inline-size: 50%;
}

.banner-content h2 {
    font-size: 28px;
    font-weight: normal;
    margin-block-end: 20px;
    color: #333;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin-block-end: 20px;
}

.shop-now {

    padding: 12px 25px;
    background-color: #717fe0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 17px;
    border-radius: 50px;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.shop-now:hover {
    background-color: #45a049;
}

.banner-img {
    max-inline-size: 50%;

}

.banner-img img {
    inline-size: 100%;
    max-inline-size: 700px;
}
#categorySelect {
    font-size: 24px; 
    padding: 10px 15px;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s ease;
}

#categorySelect:focus {
    /* border-color: #007bff; */
    outline: none;
}


.categories {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap: 80px;
    padding-block: 60px;
    block-size: 100%;
}

.women, .men, .accessories {
    border: solid rgb(215, 209, 209) .5px;
    inline-size: 400px;
    block-size: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 40px;
    gap: 25px;
}

.women:hover, .men:hover, .accessories:hover {
    background-color: #8491e35b;
    transform: scale(1.1);
    transition: 1s ease;
}

.text-content {
    font-family: Arial, sans-serif;
}

.text-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.text-content h4 {
    font-size: 20px;
    color: #888;
    margin: 5px 0 0;
}

.women img, .men img, .accessories img {
    inline-size: 50%;
    block-size: auto;
    object-fit: cover;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline-start: 76px;
    block-size: 200px;
    gap: 960px;
}

h1 {
    font-size: 36px;
}


.button-container {
    display: flex;
    gap: 10px;
    padding-inline-end: 20px;
    justify-content: flex-end;
}
#search{
    border: none;
}


.icon-button {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}


.icon-button:hover {
    background-color: #9fa5ca;
    border-color: #999;
    color: white;
}


.productoverview {
    padding-inline: 150px;
    display: flex;
    flex-wrap: wrap; 
    flex-grow: 1;
    gap: 20px; 
    justify-content: center;
}

.product-details {
    position: relative;
    overflow: hidden;

    border-radius: 10px;
    background-color: #fff; 
    padding: 15px;
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); 
    text-align: center; 
    width:250px;
    box-sizing: border-box; 
    transition: transform 0.3s ease-in-out;
    border: 1px solid #e0e0e0; 
}
.product_title{
    color: rgb(1, 1, 1);
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
.product_title:hover{
    font-weight: bold;
}
.product_price{
    margin-top: 20px;

    padding: 5px;
    color: #45a049;
   font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-details:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.product-img {
    width: 100%;
    padding-block: 20px;
    border-radius: 8px; 
}

.product-img img {
    width: 100%;
    aspect-ratio: 1 / 1.2; 
    object-fit: cover; 
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease; 
    border-radius: 8px; 
}

.product-img img:hover {
    transform: scale(1.05); 
    filter: brightness(0.95); 
}

.loadmore {
    display: flex;
    justify-content: center;
    padding-block: 100px;

}

.loadmore-button {
    padding: 12px 25px;
    font-size: 1.2em;
    color: black;
    background-color: #DDDDDD;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.loadmore-button:hover {
    background-color: black;
    color: #DDDDDD;
}
.about, .contact {
    padding-block-start: 60px;
}

.about-img, .contact-img {
    width: 100%;
    height: auto;

}

.storyANDimg, .missionANDimg {
    display: flex;
}

.story, .mission {
    margin-block: 100px;
    padding-inline: 100px;
    color: #444;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

.mission-image, .story-img {
    margin-inline: 50px;
    margin-block: 100px;
    transition: 0.5s;
}

.mission-image:hover, .story-img:hover {
    transform: scale(1.1);
}

.story>h2, .mission>h2 {
    margin-block: 40px;
    font-size: 28px;
}


.container {
    display: flex;
    max-width: 100%;

    background-color: #fff;
    margin-block: 50px;
    margin-inline: 100px;
    padding-inline: 70px;
    padding-block: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact-form {
    flex: 1;
    margin-right: 100px;
}

.contact-info {

    flex: 1;
    padding-left: 100px;
    border-left: 3px solid #ddd;
}

.contact-form h2,
.contact-info h3 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 15px;
    color: #666;
    font-weight: 500;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
    min-height: 150px;
}

.submit {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #717fe0;
}

.contact-info .info-group {
    margin-block-end: 20px;
}

.contact-info h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    text-align: start;
}

.contact-info p {
    color: #666;
    line-height: 1.6;
}

.contact-info a {
    color: #717fe0;
    text-decoration: none;
}

.contact-info a:hover {
    color: #719fe0;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #717fe0;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

.scroll-to-top:hover {
    background-color: #5b69c3;
    
}

.titl{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bolder;
}
.titl:hover{
    color: #717fe0;

}


.iconns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -100px;
    top:40%;
    transform: translateY(-50%);
    z-index: 3;
  }

  .iconns i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    }
    .product-details .iconns i:hover{
      background-color: rgb(76, 76, 179);
    }
    
.product-details:hover .iconns{
    right: 10px;
  }

  